<div class="usuarios">

    <div class=cabeceraPantalla>
      <div class="nombre" *ngIf="usuario">{{ usuario.nombre }} {{ usuario.apellido }}</div>
    </div>

    <div class="contenidoPantalla">
        <div class="perfil">
            <div class="contenedorImgPerfil">
                <img class="imgPerfil" src="/assets/img/walter.jpg" *ngIf="!foto">
                <img class="imgPerfil" [src]="foto" *ngIf="foto">
                <!-- <button mat-button class="btnCambiarImagen">Cambiar Imágen</button> -->
                <button mat-mini-fab class="btnBuscarImagen" matTooltip="Cambiar Imágen" (click)="cambiarFoto()"><mat-icon >add_a_photo</mat-icon></button>


            </div>
            <!-- <div class="contenedorRoles">
              <p>Roles</p>
              <mat-divider></mat-divider>
              <div class="roles">
                  <mat-chip-list>
                      <mat-chip>NoDocente</mat-chip>
                      <mat-chip>Docente</mat-chip>
                      <mat-chip>Alumno</mat-chip>
                  </mat-chip-list>
              </div>
            </div> -->

            <div class="contenedorAcciones">
                <button mat-stroked-button class="btnCambiarContrasena">Cambiar Contraseña</button>
                <button mat-button class="btnGuardar" type="submit" [disabled]="!formulario.valid" form="formulario">GUARDAR CAMBIOS</button>
                <div class="contenedorMasAcciones">
                    <a class="link" routerLink=".">Acerca de</a><br>
                    <a class="link" routerLink=".">Términos y condiciones</a><br>
                    <a class="link" routerLink=".">¿Necesitas ayuda?</a>
                </div>


            </div>

        </div>
        <div class="datosPerfil">
            <mat-tab-group>
                <mat-tab label="PERFIL">
                    <div class="bloquePerfil">
                          <div class="subBloque">
                              <form id="formulario" class="formulario tabPerfil" [formGroup]='formulario' (ngSubmit)="guardar()">
                                  <mat-form-field class="itemForm">
                                    <input matInput placeholder="Nombre" formControlName='nombre'>
                                  </mat-form-field>
                                  <mat-form-field class="itemForm">
                                    <input matInput placeholder="Apellido" formControlName='apellido'>
                                  </mat-form-field>
                                  <mat-form-field class="itemForm">
                                    <input matInput placeholder="DNI" formControlName='dni' >
                                  </mat-form-field>                                  
                                  <mat-form-field class="itemForm">
                                    <input matInput placeholder="Legajo" formControlName="legajo" readonly="readonly">
                                  </mat-form-field>
                                  <mat-form-field class="itemForm">
                                      <mat-select placeholder="Sexo" formControlName="sexo">
                                            <mat-option *ngFor="let sexo of opciones_sexo" [value]="sexo">{{ sexo | uppercase }}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                </form>
                          </div>
                          <div class="subBloque bloque2">
                              <!--
                              <form class="formulario tabPerfil">
                                  <mat-form-field class="itemForm">
                                    <input matInput placeholder="Correo electrónico" value="walter.blanco@econo.unlp.edu.ar" readonly="readonly">
                                  </mat-form-field>
                                  <mat-form-field class="itemForm">
                                     <input type="tel" matInput placeholder="Correo electrónico" value="lllwalterlll@gmail.com" readonly="readonly">
                                     <button matSuffix mat-icon-button matTooltip="Eliminar Correo">
                                       <mat-icon>delete_outline</mat-icon>
                                     </button>
                                  </mat-form-field>

                                  <button mat-stroked-button class="btnAgregarCorreo">Agregar correo</button>


                              </form>
                              -->
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="AVANZADO">
                  <div class="bloquePerfil">
                      <!--
                        <div class="subBloque">
                            <form class="formulario tabPerfil">
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Nacionalidad" value="Argentino">
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Localidad" value="La Plata">
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Dirección" value="Calle 48 Nº 681 - 2B">
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Teléfono" value="2215032505">
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="subBloque bloque2">
                            <form class="formulario tabPerfil">
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Otro Dato" value="Otro dato">
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                  <input matInput placeholder="Otro Dato" value="otro dato">
                                </mat-form-field>
                            </form>
                        </div>
                        -->
                  </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
