.usuarios {
  height: 100%;
}

.cabeceraPantalla {
  /* background-color: #4186e1; */
  height: 100px;
  display: flex;
  align-items:flex-end;
  background: #4186e1; /* Old browsers */
background: -moz-linear-gradient(top, #4186e1 0%, #4da4d9 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4186e1 0%,#4da4d9 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4186e1 0%,#4da4d9 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4186e1', endColorstr='#4da4d9',GradientType=0 ); /* IE6-9 */
}

.nombre {
  color: white;
  padding-bottom: 5px;
  margin-left: 190px;
  font-size: 30px;
  font-weight: lighter;

}

.contenidoPantalla {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.perfil {
  width: 25%;
  border-right: 1px solid #dddddd;
  margin-right: 20px;

}

.contenedorImgPerfil {
    display: flex;
    align-items: center;

}


.imgPerfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  margin-left: 25px;
  border-style: solid;
   border-color: white;
}

.btnCambiarImagen {
  background-color: #DFDFDF;
  color: #515151;
  margin: -15px 0 0 10px;
}

.btnBuscarImagen {
  background-color: #4186e1;
  margin: 40px 0 0 -50px ;
}

.contenedorRoles {
  padding: 20px 40px 0px 40px;
  color: grey;
}

.roles {
  margin-top: 10px;
}

.contenedorAcciones {
  padding: 20px 40px 20px 40px;

}

.btnCambiarContrasena {
  /* background-color: #4186e1; */
  color: #4186e1;
}

.btnCambiarContrasena:hover {
  background-color: #4186e1;
  color: white;
}

.btnGuardar {
  background-color: #4186e1;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.contenedorMasAcciones {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #222222;
  font-size: 12px;
}


.tabPerfil {
  padding: 20px;
}

.bloquePerfil {
  display: flex;
  flex-direction: row;
}

.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 95%;
}

.itemForm {
  width: 100%;
}

.btnAgregarCorreo {
  /* background-color: #4186e1; */
  color: #4186e1;
}

.datosPerfil {
  margin-top: 20px;
}


@media screen and (max-width: 768px) {
  .contenidoPantalla {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .perfil {
    width: 100%;
  }
  .bloquePerfil {
    display: flex;
    flex-direction: column;
  }
  .cabeceraPantalla {
    /* background-color: #4186e1; */
    height: 70px;
    display: flex;
    align-items:flex-end;
  }

  .nombre {
    font-size: 18px;
    margin-left: 135px;

  }
  .imgPerfil {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: 25px;

  }
  .btnBuscarImagen {
    margin: 5px 0 0 -25px ;
  }
  .contenedorAcciones {
    display: none;
  }
  .bloque2 {
    margin-top: -40px;
  }
}
