<div class="usuarios">

    <div class=cabeceraPantalla>
      <div class="nombre">Walter Blanco</div>
    </div>

    <div class="contenidoPantalla">
        <div class="perfil">
            <div class="contenedorImgPerfil">
                <img class="imgPerfil" src="/assets/img/walter.jpg">
            </div>
        </div>
        <div class="datosPerfil">
            <mat-tab-group>
                <mat-tab label="PERFIL">
                    <div class="bloquePerfil">
                          <div class="subBloque">
                              <form class="example-form tabPerfil">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre y Apellido" value="Walter Blanco">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="DNI" value="30001823">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Legajo" value="45987/6">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Sexo" value="Masculino">
                                  </mat-form-field>

                              </form>
                          </div>
                          <div class="subBloque">
                              <form class="example-form tabPerfil">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo electrónico" value="walter.blanco@econo.unlp.edu.ar">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo electrónico" value="lllwalterlll@gmail.com">
                                  </mat-form-field>
                              </form>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="AVANZADO">
                  <div class="bloquePerfil">
                        <div class="subBloque">
                            <form class="example-form tabPerfil">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nacionalidad" value="Argentino">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Localidad" value="La Plata">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Dirección" value="Calle 48 Nº 681 - 2B">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Teléfono" value="2215032505">
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="subBloque">
                            <form class="example-form tabPerfil">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Otro Dato" value="Otro dato">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Otro Dato" value="otro dato">
                                </mat-form-field>
                            </form>
                        </div>
                  </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
