<div *ngIf="procesando">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="usuarios" *ngIf="!procesando">

    <div class=cabeceraPantalla>
      <div class="nombre" *ngIf="usuario">{{ usuario.nombre }} {{ usuario.apellido }}</div>
    </div>

    <div class="contenidoPantalla">
        <div class="perfil">
            <div class="contenedorImgPerfil">
                <img class="imgPerfil" src="/assets/img/icono_usuario.jpg" *ngIf="!foto">
                <img class="imgPerfil" [src]="foto" *ngIf="foto">
                <!-- <button mat-button class="btnCambiarImagen">Cambiar Imágen</button> -->
                <button mat-mini-fab class="btnBuscarImagen" matTooltip="Cambiar Imágen" (click)="cambiarFoto()"><mat-icon >add_a_photo</mat-icon></button>


            </div>
            <!-- <div class="contenedorRoles">
              <p>Roles</p>
              <mat-divider></mat-divider>
              <div class="roles">
                  <mat-chip-list>
                      <mat-chip>NoDocente</mat-chip>
                      <mat-chip>Docente</mat-chip>
                      <mat-chip>Alumno</mat-chip>
                  </mat-chip-list>
              </div>
            </div> -->

            <div class="contenedorAcciones">
                <button mat-stroked-button class="btnCambiarContrasena" (click)="cambiarPassword()">Cambiar Contraseña</button>
                <button mat-button class="btnGuardar" type="submit" [disabled]="!formulario.valid" form="formulario">GUARDAR CAMBIOS</button>
                <!-- <div class="contenedorMasAcciones">
                    <a class="link" routerLink=".">Acerca de</a><br>
                    <a class="link" routerLink=".">Términos y condiciones</a><br>
                    <a class="link" routerLink=".">¿Necesitas ayuda?</a>
                </div> -->


            </div>

        </div>
        <div class="datosPerfil">
            <form id="formulario" class="formulario tabPerfil" [formGroup]='formulario' (ngSubmit)="guardar()">
            <mat-tab-group>
                <mat-tab label="PERFIL">
                    <div class="bloquePerfil">
                          <div class="subBloque">
                                <mat-form-field class="itemForm">
                                <input matInput placeholder="Nombre" formControlName='nombre'>
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                <input matInput placeholder="Apellido" formControlName='apellido'>
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                <input matInput placeholder="DNI" formControlName='dni' >
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                <input matInput placeholder="Legajo" formControlName="legajo" readonly="readonly">
                                </mat-form-field>
                                <mat-form-field class="itemForm">
                                    <mat-select placeholder="Sexo" formControlName="sexo">
                                        <mat-option *ngFor="let sexo of opciones_sexo" [value]="sexo">{{ sexo | titlecase }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                          </div>
                          <div class="subBloque bloque2">
                                <div class="itemForm"  formArrayName="correos" *ngFor="let item of correosControls(); let i = index;">
                                    <mat-form-field class="itemForm" [formGroupName]="i">
                                        <input matInput placeholder="Correo electrónico" formControlName="email">
                                        <button type="button" matSuffix mat-icon-button matTooltip="Eliminar Correo" *ngIf="eliminable(i)" (click)="eliminarCorreo(i)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <button type="button" mat-stroked-button class="btnAgregarCorreo" (click)="agregarCorreo()">Agregar correo</button>

                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="AVANZADO">
                  <div class="bloquePerfil">
                        <div class="subBloque">
                            <mat-form-field class="itemForm">
                                <input matInput placeholder="País" formControlName="pais">
                            </mat-form-field>
                            <mat-form-field class="itemForm">
                                <input matInput placeholder="Ciudad" formControlName="ciudad">
                            </mat-form-field>
                            <mat-form-field class="itemForm">
                                <input matInput placeholder="Dirección" formControlName="direccion">
                            </mat-form-field>
                        </div>
                        <div class="subBloque bloque2">
                            <mat-form-field class="itemForm">
                                <input matInput placeholder="Teléfono celular" formControlName="telefonoMovil">
                            </mat-form-field>
                            <mat-form-field class="itemForm">
                                <input matInput placeholder="Teléfono Fijo" formControlName="telefonoFijo">
                            </mat-form-field>
                        </div>
                  </div>
                </mat-tab>
            </mat-tab-group>
            </form>
        </div>
        <button mat-button class="btnGuardarCel" type="submit" [disabled]="!formulario.valid" form="formulario">GUARDAR CAMBIOS</button>

    </div>

</div>
