<div class="pantalla">

    <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
    </div>

    <mat-divider></mat-divider>

    <div class="contendido">
        <h3>INGRESAR CÓDIGO </h3>

        <p class="mensajePrincipal">Te hemos enviado un código de confirmación, copia y pega el código.</p>
        <p class="mensajeSecundario">Recuerda revisar la bandeja de correo no deseado (Spam) es probable que los correos electrónicos que te enviamos se encuentren allí.</p>
        
        <form [formGroup]='form' (ngSubmit)='verificar_codigo()'>
          <div class="formulario">
            <mat-form-field>
              <input matInput placeholder="Ingresa el código" formControlName='codigo'>
            </mat-form-field>
          </div>
          <button mat-button type='submit' Class="btnGuardar">CONTINUAR</button>
        </form>

    </div>


</div>
