
<div class="loader">
    <div class="header">
        <div>Usuarios | FCE</div>
    </div>
    <div class="contenedorSistema">
      <div class="contenedorAcceso">
          <div>
              <div class="contenedorTitulo">
                  <div><img class="logoSistema" src="/assets/img/logo_usuarios.png"></div>
                  <div class="titulo"> Sistema de Usuarios</div>
              </div>
              <div class="subTitulo"> Sistema de acceso único de la Facultad de Ciencias Económicas | UNLP. </div>
              <div> <button class="btnAcceder" (click)="acceder()"> ACCEDER  </button> </div>
          </div>

          <div>
            <img class="logoFce" src="/assets/img/logo_fce.png">
          </div>
      </div>
        <div class="infoSistema">
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">person_outline</mat-icon></div>
              <div class="tituloInfo">Acceso Unificado</div>
              <div class="infoBloque">Cuenta de usuario para el acceso a los servicios informáticos de la FCE.</div>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">dvr</mat-icon></div>
              <div class="tituloInfo">Datos Personales</div>
              <p class="infoBloque">Edición de datos personales, preferencias de la cuenta, contraseñas, correos, etc.</p>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">desktop_windows</mat-icon></div>
              <div class="tituloInfo">Aula Virtual</div>
              <div class="infoBloque">AU24 - Usuario de acceso para al Aula virtual de la FCE.</div>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">wifi</mat-icon></div>
              <div class="tituloInfo">Wifi</div>
              <div class="infoBloque">Cuenta de usuario para el acceso a la red WiFi de la FCE.</div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footerPrincipal">DiTESI | Dirección de tecnologías y Sistemas Informáticos | Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777</div>
      <div class="footerAlternativo">DiTESI | Dirección de tecnologías y Sistemas Informáticos | FCE</div>
    </div>
</div>
