<div class="pantalla">

    <div class="cabecera">
        <h3><i class="material-icons">error_outline</i> CORREO SIN CONFIGURAR</h3>
    </div>

    <mat-divider></mat-divider>

    <div class="contendido">
        <p>No tienes una cuenta de correo electrónico configurada, es necesario que configures una para poder continuar.</p>
        <button mat-button class="btnAceptar" (click)='aceptar()'>CONFIGURAR CORREO</button>
    </div>

</div>

<!--


<p>
  Usted no posee correo. Debe definir uno para continuar
</p>

<button (click)='aceptar()'>Aceptar</button> -->
