<div class="pantalla">

    <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
    </div>

    <mat-divider></mat-divider>

    <div class="contendido">
      <h3>CONFIGURAR CORREO ALTERNATIVO </h3>

      <form [formGroup]='form' (ngSubmit)='aceptar()'>
        <div class="formulario">
          <mat-form-field>
            <input matInput placeholder="Ingresa tu correo electrónico" formControlName='correo1' disableCopyPaste>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Repeti tu correo electrónico" formControlName='correo2' disableCopyPaste>
          </mat-form-field>
          <mat-error *ngIf="form.hasError('correos')">Los correos no son iguales</mat-error>
          <mat-error *ngIf="form.hasError('servidor')">Error de servidor, por favor reintente la operación</mat-error>
        </div>
        <button *ngIf='!form.errors' mat-button type='submit' class="btnGuardar">CONTINUAR</button>
        <button *ngIf="form.hasError('servidor')" (click)="limpiarError('servidor')" mat-button class="btnGuardar">REINTENTAR</button>
      </form>

    </div>
    


</div>
