<div class="pantalla">

    <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
    </div>

    <mat-divider></mat-divider>

    <div class="contendido">
      <h3>CONFIGURAR CORREO ALTERNATIVO </h3>

      <form [formGroup]='form' (ngSubmit)='aceptar()'>
        <div class="formulario">
          <mat-form-field>
            <input matInput placeholder="Ingresa tu correo electrónico" formControlName='correo1' disableCopyPaste>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Repeti tu correo electrónico" formControlName='correo2' disableCopyPaste>
          </mat-form-field>
          <mat-error *ngIf='form.errors'>Los correos no son iguales</mat-error>
        </div>
        <button mat-button type='submit' Class="btnGuardar">CONTINUAR</button>
      </form>

    </div>
    


</div>
